{
  "bracketSameLine": true,
  "importOrder": ["src/", "^[./]"],
  "importOrderSeparation": true,
  "printWidth": 100,
  "proseWrap": "always",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
